
  .box {
    position: relative;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    border: 4px solid #1F1F1F;
  }
  
  #logo {
    height: 120px;
    width: 171px;
  }
  
  #title {
    font-family: 'Ubuntu';
    color: #007077;
    font-size: 50px;
    display: flex;
    justify-content: center;
    top: 200px;
  }
  
  #pass {
    font-family: 'Ubuntu';
    font-size: 20px;
    color: #007077;
    text-decoration: none;
  }
  
  #user {
    font-family: 'Ubuntu';
    font-size: 20px;
    color: #007077;
    text-decoration: none;
  }
  
  #username {
    border: 4px solid #1F1F1F;
    border-radius: 5%;
    padding: 10px 22px;
    background-color:  #aaf0d1;
    font-family: 'Ubuntu';
    font-size: 20px;
    color: #007077;
    text-decoration: none;
  }
  
  #Password {
    border: 4px solid #1F1F1F;
    border-radius: 5%;
    padding: 10px 22px;
    background-color:  #aaf0d1;
    font-family: 'Ubuntu';
    font-size: 20px;
    color: #007077;
    text-decoration: none;
  }
  
  /* BUTTON STYLING */
  #registerButton {
    border: 4px solid #1F1F1F;
    padding: 15px 27px;
    background-color:  #aaf0d1;
    font-family: 'Ubuntu';
    font-size: 20px;
    color: #007077;
    text-decoration: none;
  }
  
  /* HOVER FUNCTIONS ON HEADER BUTTONS */
  #registerButton:hover {
    background-color: #50c878;
  }

/* Nav, logo, Title css */
body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #1F1F1F;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-left: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
#logo{
    height: 120px;
    width: 171px;
    top: 15px;
    left: 0;
    position: absolute;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.copyright {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}